.main-community-wrapper {
	margin-left: 50px;
	margin-right: 50px;
	&-body {
		display: grid;
		grid-template-columns: 1.1fr 3fr;
	}
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.main-community-wrapper-header {
	display: grid;
	grid-template-columns: 4fr 0.7fr 1fr 0.3fr 0.4fr;
	justify-content: space-between;
	column-gap: 10px;
	
}

.category-sidebar-container {
	box-shadow: 2px 5px rgba(0, 0, 0, 0.4);
	border: 2px solid ;
	border-radius: 5px;
	padding: 10px 10px;
	margin-right: 20px;
		margin-bottom: 10px;
	}
}

.main-post-container {

	display: flex;
	flex-direction: column;
	border: 0.0625rem solid black;


	.main-post-header{
		background-color: rgb(237, 237, 237);
		display: grid;
		grid-template-columns: 1fr 5fr 1fr 1fr;
		justify-items: center;
		align-items: center;
		height: 50px;
	}

	
    
	.main-post-card {
		font-size: 13px;
		height: 50px;
		display: grid;
		grid-template-columns: 1fr 5fr 1fr 1fr;
		
		align-items: center;
		
		border-bottom: 0.1rem solid;

		p:nth-child(1),
		p:nth-child(3),
		p:nth-child(4), {
			display: flex;
			justify-content: center;
		}

		p:nth-child(2) {
			margin-left: 10px;
		}
		
	}
		
		
}




