.menu-bar {
    font-weight: bold;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    background-color:rgb(192, 237, 219);
    flex-wrap: nowrap
    
}

* {
    margin: 0;
    padding: 0;
}


a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    text-decoration: none;
    color: black;
    

}

a:nth-child(3) {
    margin-right: 300px;
}

a:nth-child(4) {
    opacity: 0.5;
}

a:nth-child(5) {
    opacity: 0.5;
    margin-right: 50px;
}
.menu-bar h3 {
    margin-left: 50px;
}



