.main-wrapper {
    margin-left: 50px;
    margin-right: 50px;
}

.main-post-card-wrapper {
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    align-items: center; /* Centers the items vertically */
    flex-wrap: wrap; /* Allows the user cards to wrap if there's not enough space */
}

.post-card {
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 40%;
    padding: 1.25rem 1rem;
    border-radius: 8px;
    border: 0.0625rem solid #f2f2f2;
    background-color: #fafafa;
}
