.login-title {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.login-frame {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
	flex-grow: 1;
	width: 40%;
	padding: 1.25rem 1rem;
	border-radius: 8px;
	border: 0.0625rem solid #f2f2f2;
	background-color: white;
}
.login-email-input {
  margin-bottom: 10px;
}
.login-password-input {
  margin-bottom: 10px;
}
.login-submit {
  display: flex;
  justify-content: center;
}