.total-main-user-introduce-wrapper {
	margin-left: 50px;
	margin-right: 50px;


}
.title {
	margin-top: 70px;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: normal;
	&-icon {
		margin-right: 5px;
	}
}
.main-user-introduce-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.user-card {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	width: 40%;
	padding: 1.25rem 1rem;
	border-radius: 8px;
	border: 0.0625rem solid #f2f2f2;
	background-color: #fafafa;

	

	&:nth-child(1) {
		margin-right: 10px;
	}
	.user-card-header-photo {
		border: 2px solid #030303;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		margin-right: 20px;
		margin-bottom: 10px;
	}

	.user-card-header {
		display: flex;
		align-items: baseline;
		width: 100%;

		
	}

	.user-card-body {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		width: 100%;
		p{
			margin-bottom: 5px;
			width: 100%;
		}
	}

	.user-card-footer {
		display: flex;
	}
}
.user-talent-search-link {
	margin-bottom: 5px;
	display: flex;
	justify-content: flex-end;
	p {
		font-size: 14px;
		color: rgb(120, 191, 120);
	}
}